<!doctype html>
<html lang='en'>
<head>
 	<meta charset='utf-8'>

    <script src='/static/js/vue.2.3.3.js'></script>
    <script src='/static/js/axios.min.js'></script>
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

<div id="app"> <!-- app start -->

<div id="header"><h2>{{ title }}</h2></div>

<div id="content" class="container" style="position: absolute">
    <div class="row">
        <div id="project-list">
            <div v-for="(project, i) in projects"  >
                <button class="projectButton"
                    :id="'project-'+i"
                    :autofocus="i == 0"
                    v-on:keydown.up="moveUp()"
                    v-on:keydown.down="moveDown()"
                    v-on:keydown.start="startProject()"
                >
                {{ project.name }}
                </button>
            </div>
        </div>
        
        <div v-if="projects" id="project-details">
            <h2 id="name">{{ focused.name }}</h2>
            <img id="thumbnail" id="project-thumbnail" :src="focused.thumbnail" />
            <br />
            <p id="notes" v-html="focused.notes"></p>
        </div>
    </div>
</div>

</div><!-- app end -->

<div id="foot"><h2>https://snaparcade.cat</h2></div>

<script>
// https://css-tricks.com/snippets/javascript/javascript-keycodes/
Vue.config.keyCodes = {
    up: [87, 73],
    down: [83, 75],
    start: [82, 70, 89, 72]
}
var app = new Vue({
    el: '#app',
	data: {
        title: '',
        projects: null,
        index: 0,
	},
    created: function () {
        this.fetchData();
    },
    methods: {
        fetchData: function () {
            var self = this;
            axios.get('http://localhost:8000/listProjects')
                .then(function (response) {
                    self.title = response.data.title
                    self.projects = response.data.projects;
            })
        },
        startProject: function () {
            location.href = 'http://localhost:8000/static/snap/snap.html#run:http://localhost:8000/static/projects/' + this.focused.path + '/' + this.focused.name + '.xml&noExitWarning&hideControls';
        },
        moveDown: function () {
            this.index = Math.min(this.index + 1, this.projects.length - 1);
            document.querySelector('[id="project-'+this.index+'"]').focus();
        },
        moveUp: function () {
            this.index = Math.max(this.index - 1, 0);
            document.querySelector('[id="project-'+this.index+'"]').focus();
        },
    },
    computed: {
        focused: function () {
            return this.projects[this.index];
        },

    },
});
</script>

</body>
</html>
