body {
    margin: 0px;
    overflow: hidden;
}
#header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: grey;
    height: 60px;
}
#foot {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    background-color: grey;
    height: 60px;
}
h2 {
    margin: 5px 0 5px 0;
    color:white;
    text-align: center;
}
#content {
    height: 100%;
}
#project-details {
    top: 70px;
    left: 55%;
    width: 45%;
    position: fixed;
    z-index: 99;

}
#project-details > #name {
    
}
#project-details > #thumbnail {
    margin-left:55px;
    border:10px solid #eee;
    width: 275px;
}
#project-details > #notes {
    padding-top: 1.5em;
    font-size: 1.2em;
}

#project-list{
    position: fixed;
    top: 80px;
    left: 5%;
    width: 45%;
    overflow-y: hidden;
    height: 81%;
}
#project-list::-webkit-scrollbar { 
    display: none; 
}
.projectButton {
    width: 450px !important;
	background-color:#eee;
	border: 0;
	color: #999;
	font-size: 1.25em;
	font-style: normal;
	height: 50px;
	line-height: 50px;
    padding: 0;
    margin: 0.5em;
    text-transform: none;
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
}
.projectButton:focus {
	background-color:#BF3EFF;
    color: #ffffff;
}
